.boldHeader{
	font-weight: bold;
	font-family: Arial;
	color: red;
}

.footer{
	font-size: 15px;
	font-family: "Courier New";
	color: #222;
}

button {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
	border-radius: 8px;
}